# Random files
*.ini
*.log
*.csv
./data/*.pklz
/data/~*

# VS Code
*.vscode
*.idea

# Directories
/comparison
/comparison/*
/jwv_mengriool_script
/data/input_csv/
/data/excel_pklz/
/data/eag_gaf_shp/
/output/

__pycache__


